appdirs==1.4.4
customtkinter==5.2.2
cryptography==42.0.5
mysql-connector-python==8.3.0
psutil
Pillow==10.2.0
pywin32
plyer
python-dotenv==1.0.1
keyring
screeninfo
redis==5.0.1
pytest==8.0.2
pytest-cov==4.1.0
pytest-mock==3.12.0